| | | | | | |
|:----|:----|:----|:----|:----|:----|
|Test ID|Test Description|Expected Output|Actual Output|Result| |
| | | | | | |
|API100|Filter news articles by category:verify that the API returns news articles in the specified category	API able to return news articles in specified category
|API able to return news articles in specified category|API able to return news articles in specified category|Pass| |
|API101|Test error handling:
-	verify that the API returns error response
|API able to return a status code to ensure that the body error handling works correctly. |API able to return a status code to ensure that the body error handling works correctly.
|Pass| |
|API102|Test Pagination:
-	verify that the API returns the correct page of news articles with the specified number of articles per page and that the results are sorted according to the specified criteria
|API able to return the correct page of news articles with specified number of articles per page. |API able to return the correct page of news articles with specified number of articles per page. |Pass| |
|API103|Test response format:
-	Verify that he API returns news articles in the expected format.
.|API returns news articles in expected format.  |API returns news articles in expected format.  |Pass| |
|API104|Test sorting:
-	Verify that the API returns news articles sorted by the specified field. |Test sorting:
-	Verify that the API returns news articles sorted by the specified field.
. |Test sorting:
-	Verify that the API returns news articles sorted by the specified field.
. |Pass| |
| | | | | | |
