| | | | | | |
|:----|:----|:----|:----|:----|:----|
|Test ID|Test Description|Expected Output|Actual Output|Result| |
| | | | | | |
|API100|Filter news articles by category:verify that the API returns news articles in the specified category	API able to return news articles in specified category|API able to return news articles in specified category|API able to return news articles in specified category|Pass| |
| | | | | | |
