| | | | | | |
|:----|:----|:----|:----|:----|:----|
|Test ID|Test Description|Expected Output|Actual Output|Result| |
| | | | | | |
|API100|Filter news articles by category:verify that the API returns news articles in the specified category	API able to return news articles in specified category|API able to return news articles in specified category|API able to return news articles in specified category|Pass| |
|API101|Test Pagination:
-	verify that the API returns the correct page of news articles with the specified number of articles per page and that the results are sorted according to the specified criteria|API able to return the correct page of news articles with specified number of articles per page|API able to return the correct page of news articles with specified number of articles per page|Pass| |
| | | | | | |
